body{
    background-image: url(Mount-Everest.webp);
    background-position: center;
    background-size: cover;
    height: 95vh;
    display: flex;
    backdrop-filter: blur(3px);
    background-position: no-repeat;
    margin-top: 5px;
    font-family: cursive;
}
    .topbar{
        background-image: url(Mount-Everest.webp);
    size: 0px;
    margin-left: 85px;
    width: 1250px;
    height:92px;
    background: radial-gradient(rgba(22, 22, 22, 0.5));
    box-shadow: 0 0 10px rgba(20, 2, 2, 0.4);
    border-radius: 17px;
    backdrop-filter: blur(3px);
    margin-top: 25px;
    margin-right: 20px;
    
}
nav{
    display: flex;
    padding: 0px 5%;
}
.simple{
    font-size: 20PX;
    margin-top: -182px;

}
.logo{
    margin-top: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    float: left;
    cursor: pointer;
    font-family: cursive;
}
nav ul{
    flex: 2px;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 23px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}
nav ul li a:hover{
    color:white;

}

.bars{
    list-style:none;
    margin: 2.5px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin-left: 15px;
    margin-right: -5px;
    margin-top: 13px;
}
.main{
    display: flex;
    margin: 6.5px;
}

.active{
    color:white;
}
.content{
    background-image: url(Mount-Everest.webp);
    
   display: flex;
    width: 1200px;
    height: 550px;
    background: radial-gradient(rgba(24, 23, 23, 0.8));
    box-shadow: 0 0 5px rgba(20, 0, 0, 0.4);
    padding-left: 10px;
    margin-right: 28px;
    border-radius: 20px;
    margin-left: 0px;
    font-size: 3.5PX;
    margin-top: 30px;    
}


button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: cursive;
    color: black;
    background-color: white;
    padding: 5px 10px;
    outline: 0px;
    margin-top: 430px;
    margin-left: -455px;
   }
button:hover{
    background-color: orange;
   
}

.icon{
    background-image: url(Mount-Everest.webp);
    backdrop-filter: blur(3px);
    height: 95vh;
    margin-left: 3px;
    margin-right: -10px;
    width: 100px;
    height: 550px;
    background: radial-gradient(rgba(22, 22, 22, 0.5));
    box-shadow: 0 0 10px rgba(20, 2, 2, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    margin-top: 29px;
    color:black;
}

.social-icons ul li{
    list-style: none;
    margin-top: 10px;
    margin-left: 200000px;
    font-size: 20px;
}

.social-icons ul li{
    text-decoration: none;
    font-size:30px ;
    color:black;
    cursor: pointer;
    padding: 4px 4px;
    transition: 0.2 ease;
    border-radius: 4px;
    margin: 50px 0px;

}

.social-icons ul li i:hover{
    background-color: white;
    color: black;
}

.contact{
    text-align: center;
    width: 520px;
    height: 480px;
    background-color: white;
    margin-top: 35px;
    margin-left: 30px;
    border-radius: 20px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 20px;
    margin-top: 5px;
}
form h2{ 
color:white;

}
form{
    margin-top: 35px;
    margin-left: 50px;
}
input{
    letter-spacing: 1px;
    width: 420px;
    height: 30px;
    font-size: 15px;
    padding-left: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
margin: 18px;
margin-left: -3px;
}


textarea{
    outline: none;
    border-radius: 5px;
    width: 430px;
    height: 85px;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size: 18px;
}
